<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448534189562-jvd997d80rncmiliqa8u4rg9kgfaq2ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448534189562-jvd997d80rncmiliqa8u4rg9kgfaq2ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDCn5ELPSvY_m8a1cLCox2jNfSuKHJu-Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>448534189562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examifytms.app</string>
	<key>PROJECT_ID</key>
	<string>xamify-tms</string>
	<key>STORAGE_BUCKET</key>
	<string>xamify-tms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448534189562:ios:cb7ae4f46a94910f494043</string>
</dict>
</plist>